<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title> movie搜索主页</title>
</head>

<body >
<div th:each="movie: ${movieList}" style="width: 200px;height: 200px;float: left;border: 1px solid red;margin-left: 20px;margin-top: 20px;">
	上映时间(Year):<div th:utext="${movie.year}">
		
	</div>
	电影名(title):<div th:utext="${movie.title}">
		
	</div>
	
	电影原文名(original_title):<div th:utext="${movie.originalTitle}">
		
	</div>
	
	角色简介(roleDesc):<div th:utext="${movie.roleDesc}">
		
	</div>
</div>
</body>

</html>
